* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono";
  font-weight: 100;
}

body {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

main {
  padding: 32px;
  aspect-ratio: 11/8.5;
  background-color: gainsboro;
  /* width: 100vw;
  max-height: 100vh; */
  max-height: 100vh;
  overflow: hidden;
}

#details {
  border-bottom: 1.5px solid black;
  border-top: 1.5px solid black;

  padding: 0.25em;
}

#details > * {
  font-weight: 100;
}

li {
  margin-left: 2em;
}

#details > li {
  margin-bottom: 0.75em;
  font-size: 1em;
}

#work > h1 {
  display: flex;
  justify-content: space-between;
  padding-right: 0.5em;
}

a {
  color: black;
}

a:visited {
  color: black;
}

.job-facts > li {
  margin-bottom: 0.5em;
  font-weight: 100;
}

#langs > li {
  font-size: 1em;
  margin-bottom: 0.5em;
}

#langs > h3 {
  font-size: 1em;
}

#wj {
  margin-bottom: 0.75em;
}

#details > p::after {
  content: ":";
}

li::marker {
  content: "⤷ ";
}

#categories {
  display: flex;
  gap: 1em;
}

#edu {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

#school {
  width: 55%;
}

#languages {
  width: 45%;
}

#info {
  padding: 1em;
  padding-top: 0;
}

article {
  height: fit-content;
}

article > h1 {
  background-color: black;
  color: gainsboro;
  padding-left: 0.5rem;
  font-size: 1.5em;
}

header {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#header1 {
  max-width: 25vw;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#cat-upper > h1 {
  font-size: 44pt;
  margin: 0;
  line-height: 1;
  font-weight: 700;
}

#cat-lower > p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

#work {
  width: fit-content;
}

#work > header {
  display: flex;
  gap: 1em;
  border-bottom: 1.5px solid black;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
}

.work-right {
  width: 30vw;
  text-wrap: pretty;
}

.work-right > h3 {
  font-style: italic;
  font-weight: 100;
  font-size: 1em;
}

.work-left {
  width: 15vw;
  text-transform: capitalize;
}

.work-left > h3 {
  font-size: 1em;
}

.date {
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 100;
}
